.txtfrm-input {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5; 
    transition: border-color 0.3s ease; 
}

.txtfrm-input:focus {
    outline: none; 
    border-color: #66afe9; 
    box-shadow: 0 0 5px #66afe9; 
}

.lblform-label {
    font-size: 16px;
    color: #227fa7;
    display: inline-block;
    margin-bottom: 2px; 
    transition: transform 0.3s ease; 
}

.imagen-con-hover {
    width: 62px; /* ajusta el tamaño según sea necesario */
    height: 38px; /* ajusta el tamaño según sea necesario */
    background-image: url('../../../assets/flechaDerecha.png');
  }
  
  .imagen-con-hover:hover {
    background-image: url('../../../assets/flechaDerecha_hover.png'); /* Cambia a la imagen hover cuando el cursor pasa sobre ella */
    cursor: pointer; /* Cambia el cursor cuando pasas sobre la imagen */
  }
  select {
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #ddd;
    margin-bottom: 10px;
    background-color: #fff;
  }

  select:focus {
    outline: none;
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
  }

  option {
    background-color: #fff;
  }

  p {
    font-size: 16px;
    color: #227fa7;
    margin-bottom: 2px; 
    transition: transform 0.3s ease; 
  }