
<div>
    <label for="nombre" class="lblform-label">Nombre:</label><br>
 <input type="text" id="nombre" name="nombre" class="txtfrm-input" [(ngModel)]="valorNombre" required>
<br><br>

    <label for="appaterno" class="lblform-label">Apellido Paterno:</label><br>
    <input type="text" id="apaterno" name="apaterno" class="txtfrm-input" [(ngModel)]="valorApaterno" required><br><br>

    <label for="email" class="lblform-label">Correo electrónico:</label><br>
    <input type="email" id="email" name="email" class="txtfrm-input" required [(ngModel)]="valorEmail"><br><br>

    <label for="celular" class="lblform-label">Celular:</label><br>
    <input type="tel" id="celular" name="celular" class="txtfrm-input" required [(ngModel)]="valorCelular"><br><br>

    <input type="hidden" id="urlreferrer" name="urlreferrer" [value]="urlReferrer">
    <input type="hidden" id="dispositivo" name="dispositivo" [value]="dispositivoInfo">


    <p>Campus:</p>
    <select id="campus">
      <option value="">Selecciona una opción</option>
    </select>
    <p>Carrera:</p>
    <select id="carrera">
      <option value="">Selecciona una opción</option>
    </select>
    <p>Carrera de interés:</p>
    <select id="carerainteres">
      <option value="">Selecciona una opción</option>
    </select>
    <p>Nivel de interés:</p>
    <select id="nivelinteres">
      <option value="">Selecciona una opción</option>
    </select>
    <p>Ciclo:</p>
    <select id="ciclo">
      <option value="">Selecciona una opción</option>
    </select>
    

    <div class="imagen-con-hover" (click)="onClickSiguiente()"></div>

</div>
